body{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#c{
  margin: 0 auto;
  padding: 0;
}
#restart{
  display: none;
  padding: 15px;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  width: 100px;
  height: 100px;
  left: calc(50vw - 50px);
  top: calc(50vh - 50px);
  background: lime;
  border-radius: 100%;
  position: fixed;
  border: 1px solid #fff;
  outline: none;
  transition: 0.5s;
}
#restart:hover{
  width: 120px;
  height: 120px;
  left: calc(50vw - 60px);
  top: calc(50vh - 60px);
}
#restart:active{
  width: 150px;
  height: 150px;
  left: calc(50vw - 75px);
  top: calc(50vh - 75px);
 }
#restart::selection{
  background: transparent;
}


#start{
  padding: 15px;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  width: 100px;
  height: 100px;
  background: lime;
  border-radius: 100%;
  border: 1px solid #fff;
  outline: none;
  transition: 0.5s;
}
#start:hover{
  width: 120px;
  height: 120px;
}
#start:active{
  width: 150px;
  height: 150px;
}
#start::selection{
  background: transparent;
}

#starting-buttons-holder{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}