#mainCanvas{
  background-color: #55A8;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border: 2px dotted #0F08;
  border-radius: 5px;
}

#mainCanvas:hover{
  background-color: #00A8;
}

#mainCanvas:active{
  background-color: #0E08;
}


#mainCanvas_down{
  background-color: #55A8;
  position: fixed;
  bottom: : 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border: 2px dotted #0F08;
  border-radius: 5px;
}

#mainCanvas_down:hover{
  background-color: #00A8;
}

#mainCanvas_down:active{
  background-color: #0E08;
}


.close_button_canvas{
  background-color: #CCC8;
  position: fixed;
  width: 100px;
  height: 100px;
  border: 1px solid #AAA8;
}
.close_button_canvas:hover{
  background-color: #F008;
}
.close_button_canvas:active{
  background-color: #F00F;
}

#selector_canvas{
  background-color: #EEE8;
  position: fixed;
  top: 0px;
  border: 1px solid yellow;
}
