.painting{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 355px;
  resize: both;
  overflow: auto;
  justify-content: space-between;
}
.painting-buttons-aligner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.painting-button{
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  transition: background 0.2s , font-size 0.2s;
  background: transparent;
  outline: none;
  border: 0.5px solid #2f2235;
}
.painting-button:hover{
  background: #edbfb7;
  border: 0.5px solid #2f2235;
  font-size: 1.6rem;
}
.painting-button:active{
  background: #2f2235;
  font-size: 1.7rem;
  border: 0.5px solid #2f2235;
}
.painting-canvas{
  z-index: 10;
  border: 1px solid #2f2235;
  background: transparent;
}
#stylus{
  position: fixed;
  display: none;
  width: 8px;
  color: #2f2235;
}
body{
  background: #edbfb7;
}