body{
    margin: 0;
    padding: 0;
}
#mainCanvas{
    background-color: white;
    margin: 0;
    padding: 0;
    position:fixed;
    left:0;
    top:0;
}
#secondaryWindow{
    background-color: white;
    margin: 0;
    padding: 0;
    position:fixed;
    left:0;
    top:0;
}